/*General for hele hjemmesiden*/


html {
    scroll-behavior: smooth;
    padding-bottom: 20px;
    padding-top: 20px;
}
/*Forside + header*/
header {
    background-color: #06402B;
    padding: 15px;
    border-radius: 30px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    margin-top: 15px;

}

nav a {
    text-decoration: none;
    font-weight: 700;
    color: #DDD1C7;
    padding: 15px;
    border-bottom: 1px solid #DDD1C7;

}
nav a:hover {
    color: #D93060;
    border-bottom-color: #D93060;
}
.billeder-til-header img {
    width: 100px;
    height: 100px;
}
.billeder-til-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#forside {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
    color: #DDD1C7;
    margin-top: 20px;
    gap: 40px;
    letter-spacing: 25px;
}
#forside h1 {
    margin: 0px;
    font-size: 50px;
}
#forside p {
    font-size: 14px;
    margin-top: -20px;
    letter-spacing: 2px;
    color: #D93060;
    margin-bottom: 10px;
}
.logo {
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-weight: bold;
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 1000;
}
.logo-ikon {
    width: 65px;
    height: 65px;
    color: #2C6E49;

}

/*Body*/
body {
    color: #5E0B15;
    margin: 0;
    padding-left: 90px;
    padding-right: 90px;
    font-size: 20px;
    background-color: #DDD1C7;
    letter-spacing: 1px;
}
p {
    text-align: justify;
    letter-spacing: 1px;
}

#om-mig h2{
    display: flex;
    justify-content: left;
    color: #06402B;
}
#arbejdserfaring h2 {
    display: flex;
    justify-content: left;
}
#skoler-og-uddannelse h2 {
    display: flex;
    justify-content: left;
    color: #5E0B15;

}
.uddannelse-link {
    text-decoration: none;
    color: #5E0B15;
}
ol {
    list-style: none;
    letter-spacing: 1px;
}
#skoler-og-uddannelse a:hover {
    color: #D93060;
}
    /*Footer*/
footer {
    border-radius: 30px;
    background-color: #06402B;
}
#kontakt h2 {
    display: flex;
    justify-content: center;
    color: #DDD1C7;
    font-size: 30px;
    margin: 0;
    padding: 10px;
}
.contact-links {
    display: flex;
    justify-content: space-between;
}
.contact-links a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    gap: 2px;
    color: #DDD1C7;
}
.contact-links a:hover {
    color: #D93060;
}
.contact-links-left {
    display: flex;
    gap: 10px;
    margin-left: 20px;
}
.contact-links-right {
    display: flex;
    margin-right: 20px;
    gap: 10px;
}

.contact-links svg {
    width: 30px;
    height: 30px;

}
.contact-links span {
    padding: 10px;
    font-size: 12px;
}